.dark-theme .content-header {
  background-color: #3b3d42;
  background-color: var(--dark-background-secondary);
}
.content-header {
  padding: 48px 0;
  background-color: #f4f5f9;
  background-color: var(--light-background-secondary);
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: 16px;
  }
  .header-title {
    position: relative;
    display: flex;
    .title{
      &:before {
        position: absolute;
        top: 54%;
        right: 1px;
        left: 1px;
        height: 20%;
        background-color: #2663fc;
        content: '';
        opacity: 0.33;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
    }
    }
  }
}
