.not-fond {
  padding-top: 180px;
  padding-bottom: 112px;
  text-align:center;
}
.not-fond h2 {
  margin-top:12px;
  margin-bottom:4px;
}

.not-fond p {
  font-size: 14px;
  color: #666666;
  text-align: center;
  padding-bottom: 32px
}

.not-fond .reback-home {
  cursor: pointer;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 4px;
  background: #7caced;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 0 40px;
}