.dark-theme .search-input-box   .search-input{
  background-color: var(--dark-background-secondary);
  color: var(--dark-color);
  &::-webkit-input-placeholder {
    color: var(--dark-color-secondary);
    font-size: 16px;
  }
}
.dark-theme .search-input-box .clear-btn{
  background-color: var(--dark-background-secondary);
  color: var(--light-color-secondary);
}
.archives-content{
  margin-top:32px;
}
.search-input-box {
  height: 44px;
  display: flex;
  .search-input {
    flex: 1 1;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    color: var(--dark-background);
    background-color: var(--light-background-secondary);
    &::-webkit-input-placeholder {
      color: var(--light-color-secondary);
      font-size: 16px;
    }
  }
  .clear-btn {
    width: 60px;
    display: flex;
    flex: 60px 0 0;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 20px;
    cursor: pointer;
    background-color: var(--light-background-secondary);
    .anticon {
      display: inline-block;
      color: inherit;
      font-style: normal;
      line-height: 0;
      text-align: center;
      text-transform: none;
      vertical-align: -0.125em;
      text-rendering: optimizeLegibility;
    }
  }
}
.search-class-tag-box {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blank {
  height: 40px;
  width: 20px;
}
.dark-theme .theme-color-1 {
  background-color: var(--dark-background-secondary);
}
.theme-color-1 {
  background-color: var(--light-background-secondary);
}
.ant-select {
  border-radius: 8px;
}
.dark-theme .ant-select-selection-item {
  color: var(--dark-color);
}
.ant-select-selection-placeholder {
  color: var(--light-color-secondary);
}
.dark-theme .ant-select-selection-placeholder {
  color: var(--dark-color-secondary);
}
.ant-select-item-option {
  color: var(--light-color-secondary) !important;
  border-radius: 4px !important;
  margin-bottom: 4px !important;
  margin-left: 6px !important;
  margin-right: 6px !important;
  font-size: 16px !important;
}
.dark-theme .ant-select-item-option{
  color: var(--dark-color-secondary) !important;
}
.ant-select-item-option-active,
.ant-select-item-option-selected,
.select-tag .ant-select-selection-item {
  background-color: var(--light-background) !important;
}
.dark-theme .ant-select-item-option-active,
.dark-theme .ant-select-item-option-selected,
.dark-theme .select-tag .ant-select-selection-item {
  background-color: var(--dark-background-secondary) !important;
}
.ant-select-multiple.ant-select-lg .ant-select-selection-item {
  height: 32px;
  line-height: 32px;
}

.ant-tag {
  border: 0 !important;
  border-radius: 8px !important;
  background-color: #454558 !important;
  color: #fff;
}
.ant-tag .anticon-close {
  color: #fff;
}
.dark-theme .ant-select-selection-search-input{
  color:  var(--dark-color)
}
.ant-select-selection-search-input{
  color: var(--dark-background);
}
.archive-group {
  position: relative;
  margin: 0 0 32px;
  padding: 0;
}
.archive-header {
  padding: 16px 0;
}
.archive-header h3 {
  margin: 0;
  font-size: 18px;
}

.archive-list {
  position: relative;
}

.archive-item {
  position: relative;
  display: flex;
  min-width: 0;
  margin-top:18px;
  padding: 0 8px;
  .item-inner {
    position: relative;
    display: flex;
    overflow: hidden;
    line-height: 1.5;
    flex: 1;
    margin-right:12px;
    flex-flow: column;
    .item-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1;
    }
    .article-date {
      overflow: hidden;
      color: #7a8b9a;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .item-thumb {
    box-sizing: border-box;
    padding: 0;
    border: 1px solid #f4f5f9;
    border: 1px solid var(--light-border-color);
    border-radius: 0.33rem;
    background-color: #f4f5f9;
    background-color: var(--light-background-secondary);
    background-position: center;
    background-size: cover;
    &::after {
      display: block;
      padding-top: 100%;
      content: "";
    }
  }
}
.dark-theme .archive-item .item-thumb {
  border: 1px solid #4a4b50;
  border: 1px solid var(--dark-border-color);
  background-color: #3b3d42;
  background-color: var(--dark-background-secondary);
}
